// 导入base,common
@import url(./base.less);


// header
#header {
    #search-text {
        width: 3rem;
        margin: 0;
        height: 0.35rem;
        border-radius: 0.06rem;
        color: #000;
        font-size: 0.14rem;
    }
}

// main
#main {
    display: flex;
    height: 100%;
    .category-left {
        width: 0.8rem;
        background-color: #ccc;
        .mui-scroll-wrapper {
            position: relative;
            height: 100%;
            ul {
                .mui-table-view-cell {
                    color: #666;
                    height: 0.43rem;
                    line-height: 0.43rem;
                    padding: 0;
                    text-align: center;
                    overflow: hidden;
                    &:after {
                        left: 0;
                    }
                    &.active {
                        background-color: #ccc;
                    }
                }
            }
        }
    }
    .category-right {
        flex: 1;
        background-color: #ccc;
        .mui-scroll-wrapper {
            position: relative;
            height: 100%;
            .mui-row {
                padding: 0.1rem;
                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 0.1rem;
                    background-color: #fff;
                    color: #666;
                    img {
                        height: 0.47rem;
                    }
                    span {
                        line-height: 0.21rem;
                    }
                }                
            }

        }
    }
}