<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width,initial-scale=1.0,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0'>
    <title>乐淘移动商城-分类</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./lib/mui/css/mui.min.css">
    <link rel="stylesheet" href="./lib/fontAwesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./less/category.css">

</head>

<body>
    <!-- 头部区域 -->
    <header id="header">
        <a href="#" class="left fa fa-arrow-left" id="back"></a>
        <input type="text" placeholder="请输入要搜索的商品" id="search-text">
        <a href="search.html" id="search" class="right fa fa-search"></a>
    </header>
    <main id="main">
        <!-- 加载动画 -->
        <div class="loading-box">
            <canvas id="loading1" style="width:100%;padding:0;margin:0;display:block;">
            </canvas> 
        </div>
        <div class="category-left">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <div class="mui-row">
                        <ul class="mui-table-view">
                            <!-- <li class="mui-table-view-cell">Item 1</li>
                            <li class="mui-table-view-cell">Item 2</li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="category-right">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <div class="mui-row">
                        <!-- <div class="mui-col-xs-4">
                             <a href="#">
                                    <img src="./images/loading.gif" alt="">
                                    <span class="banner-name">匡威</span>
                               </a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>  
    </main>
    <!-- 底部区域 -->
    <footer id="footer">
        <div class="mui-content">
            <div class="mui-row">
                <div class="mui-col-xs-3">
                    <li class="mui-table-view-cell">
                        <a class="" href="index.html">
                            <i class="fa fa-home"></i><span>首页</span>
                        </a>
                    </li>
                </div>
                <div class="mui-col-xs-3 index-current">
                    <li class="mui-table-view-cell">
                        <a class="" href="category.html">
                            <i class="fa fa-navicon"></i><span>分类</span>
                        </a>
                    </li>
                </div>
                <div class="mui-col-xs-3">
                    <li class="mui-table-view-cell">
                        <a class="" href="shopping-cart.html">
                            <i class="fa fa-shopping-cart"></i><span>购物车</span>
                        </a>
                    </li>
                </div>
                <div class="mui-col-xs-3">
                    <li class="mui-table-view-cell">
                        <a class="" href="user.html">
                            <i class="fa fa-user"></i><span>个人中心</span>
                        </a>
                    </li>
                </div>
            </div>
        </div>
    </footer>

    <script src="./lib/mui/js/mui.min.js"></script>
    <script src="./lib/zepto/zepto.min.js"></script>
    <!-- template-native.js 是最老版的 使用<% %> 类似于php的模板; 
        template-web.js 是简洁的新版, 使用{{ }}遍历时不需要写as; 
        template.js 简洁的老版的,使用{{ }} 遍历的时 需要写as -->
    <script src="./lib/artTemplate/template-web.js"></script>
    <!-- 左边模板 -->
    <script id="tpl-left" type="text/html">
        {{ each rows value }}
            <li class="mui-table-view-cell {{value.id==1 ? 'active' : ''}}"  data-id="{{value.id}}">{{value.categoryName}}</li>
        {{ /each }}
    </script>
    <!-- 右边模板 -->
    <script id="tpl-right" type="text/html">
        {{ if rows.length==0 }}
            <p>此品牌现在没有产品, 清选其他品牌~~~</p>
        {{ else }}
            {{ each rows value }}
            <div class="mui-col-xs-4">
                <a href="#">
                    <img src="{{value.brandLogo}}" alt="">
                    <span class="banner-name">{{value.brandName}}</span>
                </a>
            </div>
        {{ /each }}
       {{ /if }}
    </script>

    <script src="./js/common.js"></script>
    <script src="./js/category.js"></script>
</body>

</html>